.project-active:hover{
    text-decoration: underline;
    cursor: pointer;
}

#toast-container{
    position: absolute;
    right: 20px;
    bottom: 20px;
    min-width: 350px;
}

.toast-spacing {
    margin-bottom: 0.1rem;
}

.toast-body{
    font-size: clamp(0.6rem, 3vh, 0.7rem);
    border-left: 4px solid red;
}